@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: none;
    align-items: center;
    // max-width: 90px;
    height: $button-height;
    padding: 0 20px 0 8px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-family: $typographic-headline-font-family;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-base;
      background: lighten($color-gray-border, 2%);
    }
    img {
      padding-right: 16px;
      margin: 0;
    }
  }
}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }
  }
}

@include breakpoint-lg {
  .post {
    &__home-button {
      display: flex;
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px;
    }
  }
}
